.search {
  position: relative;
  padding: 96px 0 127px 0;
  background-image: url(img/list-bc-min.jpg);
  background-size: cover;
  background-position: left 0 bottom 0;
}

.search::after {
	content:'';
  background-image: linear-gradient(to top, rgba(28, 28, 28, 0.2), rgba(28, 28, 28, 0.2));
	display: block;
  position: absolute;
  top: 0;
	width: 100%;
  height: 100%;
  opacity: 0.7;
}

.search__title {
  position: relative;
  font-size: 52px;
  line-height: 1.29;
  letter-spacing: -0.2px;
  color: #ffffff;
  text-align: center;
  z-index: 1;
}

.list {
  margin: 0 auto;
  padding: 35px 0 72px 0;
}

.list__content {
  display: flex;
  margin: 0 auto;
  max-width: 880px;
}

.list__inner {
  margin-bottom: 31px;
  max-width: 280px;
  text-decoration: none;
}

.list__image {
  width: 280px;
  height: 186px;
}

.list__description {
  padding-top: 25px;
  padding-left: 24px;
  border: solid 0.8px #f1f1f1;
}

.list__button {
  margin-bottom: 24px;
  padding: 5px 45px 5px 22px;
  border: solid 1.5px #c9a787;
  color: #c9a787;
}

.list__button:hover {
  box-shadow: 0 0 8px 0 #c9a787 inset, 0 0 8px 3px #c9a787;
  transition: box-shadow 0.2s ease-in;
}


.list__button-bottom {
  margin-bottom: 29px;
}

.list__form {
  margin-right: 20px;
  max-width: 279px;
  width: 100%;
}

.form__inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 35px;
  padding-bottom: 42px;
  background-color: #151515;
}

.form__inner::after {
  position: absolute;
  display: block;
  content: '';
  bottom: -22px;
  width: 279px;
  height: 2px;
  background-color: #f9f9f9;
}

.form__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 22px;
  background-color: #151515;
}

.form__input-group-width {
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100px;
  width: 100%;
}

.form__input-group-bottom {
  margin-bottom: 43px;
}

.form__input-left {
  padding-left: 30px;
}

.form__label-light {
  color: #ffffff;
}

.form__part {
  padding-left: 16px;
}

.form__input-black {
  margin-right: 3px;
  width: 50px;
  background-color: #151515;
  border: solid 0.8px #151515;
  color: #ffffff;
}

.form__input-black::placeholder {
  color: #c19b76;
}

.form__input-light {
  padding-left: 10px;
  font-size: 9.5px;
  line-height: 2.16;
  letter-spacing: -0.19px;
}

.form__input-light::placeholder {
  color: #ffffff;
}

.form__input-big {
  width: 40px
}

.form__select-black {
  padding-top: 11px;
  vertical-align: top;
  background-color: #151515;
  color: #c19b76;
}

.form__services {
  padding-top: 43px;
}

.form__services::after {
  display: block;
  content: '';
  margin: auto;
  margin-top: 23px;
  width: 279px;
  height: 2px;
  background-color: #f9f9f9;
}

.form__title {
  margin: 0 auto;
  margin-bottom: 44px;
  font-family: 'Gilda Display', serif;
  font-size: 15px;
  line-height: 1.37;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.form__title-grey {
  margin-bottom: 9px;
  letter-spacing: 0.9px;
  color: #1c1c1c;
}

.form__title-bottom {
  margin-bottom: 14px;
}

.form__option {
  display: flex;
  justify-content: space-between;
  padding: 0 18px 0 3px;
}

.form__checkbox {
  display: none;
}

.form__checkbox + .text::before {
  content: "\2713";
  color: transparent;
  display: inline-block;
  margin-right: 10px;
  height: 9px;
  width: 9px;
  border-radius: 1.1px;
  border: solid 0.4px #b3b3b3;
  font-size: 12px;  
  line-height: 12px;
}

.form__checkbox:checked + .text:before {
  color: #000;
}

.form__size {
  padding-top: 21px;
}

.form__size::after {
  display: block;
  content: '';
  margin: auto;
  margin-top: 30px;
  width: 279px;
  height: 2px;
  background-color: #f9f9f9;
}

.form__reviews {
  padding-top: 22px;
}

.form__number {
  display: inline-block;
  margin-left: 1px;
  margin-right: 6px;
  padding-left: 8px;
  padding-top: 3px;
  width: 22px;
  height: 21px;
  background-color: #1c1c1c;
  font-family: 'Roboto', sans-serif;
  font-size: 9.5px;
  line-height: 2.16;
  letter-spacing: -0.19px;
  color: #ffffff;
}

.form__number-color:hover {
  background-color: #c19b76;
  transition: background-color 0.5s ease-in-out;
}

.form__number-big {
  margin-left: 4px;
  margin-right: 11px;
  padding: 3px 18px 0 7px;
  background-color: #1c1c1c;
  font-family: 'Roboto', sans-serif;
  font-size: 9.5px;
  line-height: 2.16;
  letter-spacing: -0.19px;
  color: #ffffff;
}

.form__number-left {
  margin-left: 8px;
}

.form__letter {
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  line-height: 2.28;
  color: #878787;
}

.list__images {
  max-width: 582px;
}

.rooms__wrap-bottom {
  margin-bottom: 20px;
}

.rooms__part-bottom {
  margin-bottom: 14px;
}

.rooms__item-size {
  padding: 4px;
}

.rooms__item-right {
  margin-right: 4px;
}

.rooms__element-right {
  margin-right: 8px;
}

.rooms__button {
  padding: 7px 20px 5px 26px;
  background-color: #1c1c1c;
  border: solid 1.5px #1c1c1c;
}

.rooms__caption {
  position: absolute;
  left: 24px;
  bottom: 9px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 8.5px;
  line-height: 2.41;
  letter-spacing: 1.3px;
  color: #ffffff;
}

.rooms__images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .search {
    padding: 54px 0 42px 0;
  }

  .search__title {
    font-size: 32px;
    line-height: 1.48;
  }

  .list {
    padding: 33px 0 92px 0;
  }

  .list__content {
    margin: 0 190px 0 201px;
  }

  .list__form {
    margin-right: 13px;
    max-width: 209px;
  }

  .list__inner {
    margin-bottom: 24px;
    max-width: 198px;
  }

  .form__inner {
    padding-top: 25px;
    padding-bottom: 27px;
  }

  .form__inner::after {
    bottom: -17px;
    width: 199px;
  }

  .form__wrap {
    padding: 0 27px 0 10px;
  }

  .form__title {
    margin-bottom: 29px;
    font-size: 11px;
    line-height: 1.32;
    letter-spacing: 0.15px;
  }

  .form__label {
    font-size: 9px;
    line-height: 1.61;
    letter-spacing: 0.72px;
  }

  .form__input {
    font-size: 27px;
    line-height: 0.54;
    letter-spacing: -1.62px;
  }

  .form__input-group-width {
    max-width: 80px;
  }

  .form__input-group-bottom {
    margin-bottom: 17px;
  }

  .form__input-black {
    width: 33px;
  }

  .form__input-left {
    padding-left: 20px;
  }

  .form__label {
    margin-bottom: 0;
  }

  .form__services {
    padding-top: 27px;
  }

  .form__services::after {
    margin-top: 4px;
    width: 199px;
  }

  .form__title-grey {
    margin-bottom: 7px;
  }

  .form__option {
    padding: 0;
  }

  .form__checkbox + .text::before {
    height: 8px;
    width: 8px;
  }

  .form__size {
    padding-top: 21px;
  }

  .form__size::after {
    margin-top: 14px;
    width: 199px;
  }

  .form__title-bottom {
    margin-bottom: 9px;
  }

  .form__number-big {
    margin-left: 3px;
    padding: 1px 14px 1px 4px;
  }

  .form__reviews {
    padding-top: 6px;
  }

  .form__number {
    margin-right: 3px;
    padding-left: 2px;
    padding-top: 2px;
    width: 19px;
    height: 15px;
    font-size: 8px;
    line-height: 1.81;
    letter-spacing: -0.16px;
  }

  .rooms__wrap {
    height: 135px;
  }

  .rooms__caption {
    left: 16px;
    bottom: 5px;
    letter-spacing: 2px;
  }
  
  .list__image {
    width: 198px;
    height: 135px;
  }

  .list__description {
    padding-top: 11px;
    padding-left: 15px;
  }

  .list__description .text {
    line-height: 2;
  }

  .list__button {
    margin-bottom: 24px;
    padding: 3px 27px 2px 38px;
    width: 166px;
    line-height: 1.5;
  }

  .rooms__title-small {
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 0.72;
  }

  .rooms__part-bottom {
    margin-bottom: 6px;
  }

  .rooms__item {
    padding: 2px 6px;
  }

  .rooms__element {
    margin-right: 2px;
  }

}

@media screen and (max-width: 1023px) {

  .search {
    padding: 86px 0 89px 0;
  }

  .search__title {
    font-size: 48px;
    line-height: 0.63;
    letter-spacing: -0.8px;
  }

  .list {
    margin: 0 auto;
    padding: 32px 0 18px 0;
  }

  .list__content {
    flex-direction: column;
    max-width: 527px;
  }

  .list__form {
    margin-right: 0;
    max-width: 527px;
  }

  .form__inner {
    flex-direction: column;
    padding-top: 17px;
    padding-bottom: 0;
  } 

  .form__inner::after {
    display: none;
  }

  .form__title {
    margin-bottom: 24px;
    font-size: 22px;
    line-height: 0.41;
    letter-spacing: 0.4px;
    text-align: center;
  }

  .form__label {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 0.64;
    letter-spacing: 2.7px;
  }

  .form__part {
    display: flex;
    flex-direction: column;
  }

  .form__select {
    margin-left: 15px;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -1.2px;
  }

  .form__select-black {
    padding-top: 7px;
  }

  .form__wrap {
    height: 114px;
    padding: 0 45px 0 21px;
  }

  .form__input-group {
    margin-right: 12px;
  }

  .form__input-group-bottom {
    margin-bottom: 0;
  }

  .form__services {
    padding-top: 41px;
  }

  .form__services::after {
    display: none;
  } 

  .form__option {
    padding: 0 21px 0 54px;
  }

  .form__services .form__title-grey {
    margin-bottom: 30px;
  }

  .form__item {
    margin-bottom: 15px;
  }

  .form .text {
    font-size: 16px;
    line-height: 0.56;
    letter-spacing: 0.96px;
  }

  .form__checkbox + .text::before {
    height: 14px;
    width: 14px;
  }

  .form__size {
    padding-top: 30px;
  }

  /* .form__number-big {
    margin-left: 4px;
    margin-right: 11px;
    padding: 3px 18px 0 7px;
    background-color: #1c1c1c;
    font-family: 'Roboto', sans-serif;
    font-size: 9.5px;
    line-height: 2.16;
    letter-spacing: -0.19px;
    color: #ffffff;
  } */

  .form__size::after {
    display: none;
  }
  
  .form__size-input {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 210px;
  }

  .form__input-big {
    width: 67px;
    height: 25px;
  }

  .form__reviews {
    padding-top: 45px;
  }

  .form__reviews .form__title-bottom {
    margin-bottom: 49px;
  }

  .form__numbers {
    margin-left: 67px;
    max-width: 396px;
  }

  .form__number {
    box-sizing: border-box;
    margin-right: 12px;
    padding: 8px 15px;
    width: 49px;
    height: 24px;
    font-size: 14px;
    line-height: 0.64;
    letter-spacing: -0.28px;
  }

  .rooms__images {
    padding-top: 56px;
    padding-left: 15px;
  }

  .rooms__part {
    display: none;
  }

  .list__inner {
    display: flex;
    padding: 17px;
    margin-bottom: 21px;
    max-width: 468px;
    height: 131px;
    border: solid 1px #a3a3a3;
  }

  .list__inner-revers {
    flex-direction: row-reverse;
  }

  .rooms__wrap {
    height: 133px;
  }

  .list__image {
    width: 198px;
    height: 133px;
  }

  .list__description {
    padding-top: 0;
    border: none;
  }

  .rooms__title-small {
    font-size: 22px;
    line-height: 0.7;
  }

  .rooms__text {
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 1.5;
  }

  .rooms__caption {
    left: 13px;
    bottom: 17px;
    font-size: 14px;
    line-height: 0.64;
    letter-spacing: 1.4px;
  }

  .list__button {
    margin-bottom: 10px;
    padding: 2px 25px 1px 11px;
  }

}