.search {
  position: relative;
  padding: 145px 0 127px 0;
  background: url("img/list-bc-min.jpg") fixed;
  background-size: cover;
}

.search::after {
	content:'';
  background-image: linear-gradient(to top, rgba(28, 28, 28, 0.2), rgba(28, 28, 28, 0.2));
	display: block;
  position: absolute;
  top: 0;
	width: 100%;
  height: 100%;
  opacity: 0.7;
}

.title__search {
  position: relative;
  font-size: 52px;
  line-height: 1.29;
  letter-spacing: -0.2px;
  color: #ffffff;
  text-align: center;
  z-index: 1;
}

.list {
  margin: 0 auto;
  padding: 35px 0 72px 0;
}

.list__content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 880px;
}

.list__inner {
  margin-bottom: 31px;
  max-width: 280px;
  text-decoration: none;
}

.list__image {
  width: 280px;
  height: 186px;
}

.list__description {
  padding-top: 26px;
  padding-left: 24px;
  border: solid 0.8px #f1f1f1;
}

.list__description .text__rooms {
  margin-bottom: 16px;
  letter-spacing: 0.62px;
}

.button__list {
  margin-bottom: 24px;
  padding: 5px 45px 6px 22px;
  border: solid 1.5px #c9a787;
  color: #c9a787;
  font-size: 8.5px;
  line-height: 2.41;
}

.button__list:hover {
  box-shadow: 0 0 8px 0 #c9a787 inset, 0 0 8px 3px #c9a787;
  transition: box-shadow 0.2s ease-in;
}

.button__list-bottom {
  margin-bottom: 29px;
}

.form__list {
  width: 31.6%;
}

.form__inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 35px;
  padding-bottom: 42px;
  background-color: #151515;
}

.form__inner::after {
  position: absolute;
  display: block;
  content: '';
  bottom: -22px;
  width: 279px;
  height: 2px;
  background-color: #f9f9f9;
}

.form__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 40px;
  background-color: #151515;
}

.form__input-group {
  display: flex;
  flex-direction: column;
  width: 80px;
}

.form__input-group-bottom {
  margin-bottom: 40px;
}

.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  line-height: 2.28;
  letter-spacing: 1.6px;
  color: #ffffff;
  text-align: center;
}

.form__part {
  display: flex;
  justify-content: space-between;
  width: 71px;
}

.form__input {
  width: 50px;
  background-color: #151515;
  border: solid 0.8px #151515;
  color: #ffffff;
  font-family: 'Gilda Display', serif;
  font-size: 37.5px;
  line-height: 0.55;
  letter-spacing: -2.25px;
  text-align: center;
}

.form__input::placeholder {
  color: #c19b76;
}

.form__input-width {
  width: 70px;
}

.form__select{
  -webkit-appearance: none;
  border: none;
  background-color: #151515;
  color: #c19b76;
  font-family: 'Gilda Display', serif;
  font-size: 9px;
  letter-spacing: 1px;
}

.form__select:focus {
  outline: none;
}

.form__input-small {
  margin-right: 8px;
  padding-left: 10px;
  width: 39px;
  height: 20px;
  background-color: #000000;
  border: solid 0.8px #151515;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  line-height: 1.81;
  letter-spacing: -0.16px;
  text-align: left;
}

.form__services {
  padding-top: 43px;
}

.form__services::after {
  display: block;
  content: '';
  margin: auto;
  margin-top: 23px;
  width: 279px;
  height: 2px;
  background-color: #f9f9f9;
}

.title__form {
  margin: 0 auto;
  margin-bottom: 40px;
  font-family: 'Gilda Display', serif;
  font-size: 15px;
  line-height: 1.37;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.title__form-grey {
  margin-bottom: 9px;
  letter-spacing: 0.9px;
  color: #1c1c1c;
}

.title__form-bottom {
  margin-bottom: 14px;
}

.form__option {
  display: flex;
  justify-content: space-between;
  padding: 0 18px 0 3px;
}

.form__checkbox {
  display: none;
}

.form__checkbox + .text::before {
  content: "\2713";
  color: transparent;
  display: inline-block;
  margin-right: 10px;
  height: 9px;
  width: 9px;
  border-radius: 1.1px;
  border: solid 0.4px #b3b3b3;
  font-size: 12px;  
  line-height: 12px;
}

.form__checkbox:checked + .text:before {
  color: #000;
}

.form__size {
  padding-top: 21px;
}

.form__size::after {
  display: block;
  content: '';
  margin: auto;
  margin-top: 30px;
  width: 279px;
  height: 2px;
  background-color: #f9f9f9;
}

.form__reviews {
  padding-top: 22px;
}

.form__number {
  display: inline-block;
  margin-left: 1px;
  margin-right: 6px;
  padding-left: 8px;
  padding-top: 3px;
  width: 22px;
  height: 21px;
  background-color: #1c1c1c;
  font-family: 'Roboto', sans-serif;
  font-size: 9.5px;
  line-height: 2.16;
  letter-spacing: -0.19px;
  color: #ffffff;
}

.form__number-color:hover {
  background-color: #c19b76;
  transition: background-color 0.5s ease-in-out;
}

.form__number-big {
  margin-left: 4px;
  margin-right: 11px;
  padding: 3px 18px 0 7px;
  background-color: #1c1c1c;
  font-family: 'Roboto', sans-serif;
  font-size: 9.5px;
  line-height: 2.16;
  letter-spacing: -0.19px;
  color: #ffffff;
}

.form__number-left {
  margin-left: 8px;
}

.form__letter {
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  line-height: 2.28;
  color: #878787;
}

.rooms__description {
  width: 66%;
}

.rooms__wrap-bottom {
  margin-bottom: 20px;
}

.rooms__part-bottom {
  margin-bottom: 14px;
}

.rooms__item-size {
  padding: 4px;
}

.rooms__item-right {
  margin-right: 4px;
}

.rooms__element-right {
  margin-right: 8px;
}

.button__rooms {
  padding: 7px 20px 5px 26px;
  background-color: #1c1c1c;
  border: solid 1.5px #1c1c1c;
}

.rooms__caption {
  position: absolute;
  left: 24px;
  bottom: 9px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 8.5px;
  line-height: 2.41;
  letter-spacing: 1.3px;
  color: #ffffff;
}

.rooms__images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title__rooms {
  margin-bottom: 10px;
  color: #000000;
  font-size: 22.5px;
  line-height: 0.71;
}

.rooms__heading {
  display: none;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .search {
    padding: 89px 0 42px 0;
  }

  .title__search {
    font-size: 32px;
    line-height: 1.48;
  }

  .list {
    padding: 33px 0 94px 0;
  }

  .list__content {
    max-width: 644px;
  }

  .list__form {
    margin-left: 10px;
    width: 33%;
  }

  .list__inner {
    margin-bottom: 24px;
    max-width: 198px;
  }

  .form__inner {
    padding-top: 25px;
    padding-bottom: 27px;
  }

  .form__inner::after {
    bottom: -17px;
    width: 199px;
  }

  .form__wrap {
    padding: 0 17px 0 10px;
  }

  .title__form {
    margin-bottom: 29px;
    font-size: 11px;
    line-height: 1.32;
    letter-spacing: 0.15px;
  }

  .form__label {
    font-size: 9px;
    line-height: 1.61;
    letter-spacing: 1.5px;
  }

  .form__input {
    font-size: 27px;
    line-height: 0.54;
    letter-spacing: -1.62px;
  }
  
  .form__input-small {
    margin-right: 3px;
    width: 27px;
    height: 13px;
    font-size: 8px;
    line-height: 1.81;
    letter-spacing: -0.16px;
  }

  .form__input-left {
    margin-left: 3px;
    padding-left: 18px;
  }

  .form__input-group-width {
    max-width: 85px;
  }

  .form__input-group-bottom {
    margin-bottom: 27px;
  }

  .form__input-black {
    width: 27px;
  }

  .form__input-light {
    line-height: 1.4;
  }

  .form__label {
    margin-bottom: 0;
  }

  .form__letter {
    font-size: 6px;
  }

  .form__services {
    padding-top: 27px;
  }

  .form__services::after {
    margin-top: 19px;
    width: 199px;
  }

  .title__form-grey {
    margin-bottom: 2px;
  }

  .form__option {
    padding: 0 9px 0 0;
  }

  .form__checkbox + .text::before {
    margin-right: 7px;
    height: 8px;
    width: 8px;
    font-size: 8px;
    line-height: 8px;
  }

  .form__size {
    padding-top: 11px;
  }

  .form__size::after {
    margin-top: 14px;
    width: 199px;
  }

  .title__form-bottom {
    margin-bottom: 9px;
  }

  .form__number-big {
    margin-left: 3px;
    padding: 1px 14px 1px 4px;
  }

  .form__reviews {
    padding-top: 8px;
  }

  .form__number {
    margin-right: 3px;
    padding-left: 2px;
    padding-top: 2px;
    width: 19px;
    height: 15px;
    font-size: 8px;
    line-height: 1.81;
    letter-spacing: -0.16px;
  }

  .rooms__wrap {
    height: 135px;
  }

  .rooms__caption {
    left: 16px;
    bottom: 5px;
    letter-spacing: 2px;
  }
  
  .list__image {
    width: 198px;
    height: 135px;
  }

  .list__description {
    padding-top: 11px;
    padding-left: 15px;
  }

  .list__description .text {
    letter-spacing: -0.01px;
  }

  .list__description .text__rooms {
    margin-bottom: 12px;
  }

  .title__rooms {
    font-size: 16px;
    line-height: 0.6;
  }

  .button__list {
    margin-bottom: 24px;
    padding: 5px 34px 3px 35px;
    width: 165px;
    line-height: 1.5;
  }

  .rooms__description {
    width: 63.5%
  }

  .title__rooms-small {
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 0.72;
  }

  .rooms__part-bottom {
    margin-bottom: 6px;
  }

  .rooms__item {
    padding: 2px 6px;
  }

  .rooms__element {
    margin-right: 2px;
  }
}


@media screen and (max-width: 1023px) {
  .search {
    padding: 117px 0 89px 0;
  }

  .title__search {
    font-size: 48px;
    line-height: 0.63;
    letter-spacing: -0.8px;
  }

  .list {
    margin: 0 auto;
    padding: 32px 0 14px 0;
  }

  .list__content {
    flex-direction: column;
    max-width: 527px;
  }

  .form__list {
    width: 100%;
  }

  .form__inner {
    flex-direction: column;
    padding-top: 17px;
    padding-bottom: 0;
  } 

  .form__inner::after {
    display: none;
  }

  .title__form {
    font-size: 22px;
    line-height: 0.41;
    letter-spacing: 0.4px;
    text-align: center;
  }

  .form__inner .title__form {
    margin-bottom: 26px;
  }

  .form__input-group {
    width: 100px;
  }

  .form__label {
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 0.64;
    letter-spacing: 2.7px;
  }

  .form__part {
    display: flex;
    flex-direction: column;
  }

  .form__input {
    width: 90px;
  }

  .form__select {
    margin-left: 33px;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -1.2px;
  }

  .form__select-black {
    padding-top: 7px;
  }

  .form__wrap {
    height: 114px;
    padding: 0 45px 0 21px;
  }

  .form__input-group {
    margin-right: 12px;
  }

  .form__input-group-bottom {
    margin-bottom: 0;
  }

  .form__services {
    padding-top: 39px;
  }

  .form__services::after {
    display: none;
  } 

  .form__option {
    padding: 0 21px 0 54px;
  }

  .form__services .title__form-grey {
    margin-bottom: 32px;
  }

  .form__item {
    margin-bottom: 15px;
  }

  .form .text {
    font-size: 16px;
    line-height: 0.56;
    letter-spacing: 0.96px;
  }

  .form__checkbox + .text::before {
    height: 14px;
    width: 14px;
  }

  .form__size {
    padding-top: 26px;
  }

  .form__size .title__form-grey {
    margin-bottom: 20px;
  }

  .form__size::after {
    display: none;
  }
  
  .form__size-input {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 210px;
  }

  .form__input-small {
    box-sizing: border-box;
    padding-right: 10px;
    width: 67px;
    height: 28px;
  }

  .form__input-light {
    font-size: 14px;
    line-height: 0.64;
    letter-spacing: -0.28px;
    text-align: right;
  }

  .form__letter {
    display: none;
  }

  .form__reviews {
    padding-top: 52px;
  }

  .form__reviews .title__form-grey {
    margin-bottom: 47px;
    letter-spacing: 1.2px;
  }

  .form__numbers {
    margin-left: 67px;
    max-width: 396px;
  }

  .form__number {
    box-sizing: border-box;
    margin-right: 12px;
    padding: 8px 15px;
    width: 49px;
    height: 24px;
    font-size: 14px;
    line-height: 0.64;
    letter-spacing: -0.28px;
  }

  .rooms__description {
    padding-top: 32px;
  }

  .rooms__heading {
    display: block;
    margin-bottom: 16px;
    font-family: 'Gilda Display', serif;
    font-size: 22px;
    line-height: 0.41;
    letter-spacing: 1.32px;
    text-align: center;
  }

  .rooms__description {
    padding-left: 15px;
    width: 100%;
  }

  .rooms__part {
    display: none;
  }

  .list__inner {
    display: flex;
    box-sizing: border-box;
    padding: 17px 20px 17px 15px;
    margin-bottom: 18px;
    max-width: 503px;
    height: 168px;
    border: solid 1px #a3a3a3;
  }

  .list__inner-revers {
    flex-direction: row-reverse;
    margin-bottom: 24px;
    padding: 17px 13px;
  }

  .rooms__wrap {
    height: 133px;
  }

  .list__image {
    width: 198px;
    height: 133px;
  }

  .list__description {
    padding-top: 0;
    border: none;
  }

  .list__description-reverse {
    padding-left: 0;
    padding-top: 7px;
    padding-right: 30px;
  }

  .list__description .text__rooms {
    margin-bottom: 8px;
    letter-spacing: 0.93px;
  }

  .list__description .button {
    line-height: 1;
    letter-spacing: 1.9px;
  }

  .button__list {
    padding: 8px 16px 7px 14px;
  }

  .title__rooms-small {
    font-size: 22px;
    line-height: 0.7;
  }

  .text__rooms {
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 1.5;
  }

  .rooms__caption {
    left: 14px;
    bottom: 17px;
    font-size: 14px;
    line-height: 0.64;
    letter-spacing: 2.5px;
  }
}