.information {
  padding: 73px 0 62px 0;
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  text-align: center;
}

.information__title {
  margin: auto;
  margin-bottom: 31px;
  max-width: 460px;
  font-family: 'Gilda Display', serif;
  font-size: 52.5px;
  line-height: 1.28;
  color: #ffffff;
}

.information__subtitle {
  margin-bottom: 14px;
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  line-height: 2.28;
  letter-spacing: 1.6px;
  color: #ffffff;
}

.information__subtitle::after {
  content:'';
  display: block;
  margin: auto;
  margin-top: 15px;
  width: 22px;
  height: 1px;
  background-color: #ffffff;
}

.information__button {
  display: block;
  margin: 0 auto 94px;
  padding: 5px 26px;
  max-width: 89px;
}

.information__form {
  display: flex;
  margin: 0 auto;
  max-width: 539px;
  width: 100%;
}

.about {
  display: flex;
  justify-content: space-between;
  padding: 87px 172px 27px 310px;
}

.about__description {
  max-width: 370px;
  text-align: center;
}

.about__subtitle {
  margin-bottom: 18px;
}

.about__title {
  margin-bottom: 14px;
}

.about__text {
  margin-bottom: 26px;
  max-width: 363px;
}

.about__button {
  margin-bottom: 60px;
  background-color: #c19b76;
  padding: 5px 24px;
  border: solid 1.5px #c19b76;
}

.about__images {
  position: relative;
  max-width: 570px;
}

.about__image1 {
  position: absolute;
  top: -12px;
  right: 201px; 
}

.about__image2 {
  position: absolute;
  z-index: 2;
  top: 160px;
  right: 224px;
}

.about__image3 {
  position: absolute;
  z-index: 3;
  top: 14px;
  right: 0;
}

.rooms {
  padding: 49px 0 56px  0;
  background-color: #f9f9f9;
}

.rooms__title {
  margin-bottom: 27px;
  font-family: 'Gilda Display', serif;
  font-size: 41.5px;
  line-height: 1.46;
  color: #1c1c1c;
  text-align: center;
}

.rooms__subtitle {
  margin-bottom: 6px;
  text-align: center;
}

.rooms__subtitle::after {
  content:'';
  display: block;
  margin: auto;
  margin-top: 5px;
  width: 22px;
  height: 1px;
  background-color: #878787;
}

.rooms__content {
  display: flex;
  margin: 0 auto;
  max-width: 879px;
}

.rooms__inner {
  margin-right: 23px;
  max-width: 428px;
  text-decoration: none;
}

.rooms__description {
  padding: 28px 88px 21px 25px;
  background-color: #fff;
}

.rooms__part {
  margin-bottom: 18px;
}

.rooms__icon {
  width: 17px;
  height: 17px;
}

.rooms__element-font {
  letter-spacing: 1.4px;
}

.rooms__text {
  margin-bottom: 17px;
  letter-spacing: 0.64px;
}

.rooms__button {
  padding: 5px 20px 5px 26px;
  background-color: #1c1c1c;
  border: solid 1.5px #1c1c1c;
}

.rooms__images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rooms__image {
  width: 203px;
  height: 184px;
}

.rooms__wrap-bottom {
  margin-bottom: 20px;
}

.rooms__caption {
  position: absolute;
  left: 23px;
  bottom: 10px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 8.5px;
  line-height: 2.41;
  letter-spacing: 1.3px;
  color: #ffffff;
}

.hotel {
  display: flex;
}

.hotel__images {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  max-width: 720px;
}

.hotel__picture {
  width: 360px;
  height: 240.5px;
  height: 100%;
}

.hotel__description {
  padding: 65px 88px 71px 75px;
  max-width: 720px;
  background-color: #1c1c1c;
}

.hotel__subtitle {
  margin-bottom: 10px;
  color: #ffffff;
  letter-spacing: 0.6px;
}

.hotel__title {
  margin-bottom: 30px;
  max-width: 315px;
  color: #ffffff;
}

.hotel__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.hotel__text {
  max-width: 255px;
}

.hotel__text-right {
  margin-right: 47px;
  letter-spacing: 0.63px;
}

.hotel__text-font {
  letter-spacing: 0.55px;
}

.hotel__button {
  padding: 5px 26px;
  background-color: #151515;
  border: solid 1.5px #151515;
}

.description {
  margin: 50px auto 40px;
  max-width: 513px;
  font-family: 'Gilda Display', serif;
  font-size: 19px;
  line-height: 1.75;
  letter-spacing: -0.1px;
  text-align: center;
}
