.room {
  position: relative;
  padding-top: 285px;
  padding-bottom: 22px;
  background: url(img/room-background-min.jpg) 50% 100% fixed;
  background-size: cover;
  background-position: bottom 0;
}

.room::after {
	content:'';
  background-image: linear-gradient(to top, rgba(28, 28, 28, 0.2), rgba(28, 28, 28, 0.2));
	display: block;
  position: absolute;
  top: 0;
  left: 0;
	width: 100%;
  height: 100%;
  opacity: 0.7;
}

.room__menu {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 875px;
  width: 100%;
}

.room__navigation {
  position: relative;
  max-width: 477px;
  width: 100%;
  padding-top: 6px;
  font-size: 9px;
  line-height: 2.28;
  letter-spacing: 1.35px;
  z-index: 1;
}

.room__value {
  position: relative;
  z-index: 1;
  padding-right: 67px;
}

.room__price {
  margin-right: 11px;
  font-size: 37.5px;
  line-height: 0.55;
  letter-spacing: 1.6px;
  color: #ffffff;
}

.room__price-small {
  vertical-align: top;
  font-size: 10.5px;
  line-height: 2.6;
  letter-spacing: 0.8px;
  color: #ffffff;
  text-transform: uppercase;
}

.navigation__link-light {
  color: #ffffff;
}

.navigation__link-light:hover {
  color: #3d3838;
}

.apartment {
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 59px;
}

.apartment__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 878px;
  width: 100%;
}

.apartment__description {
  position: relative;
  max-width: 579px;
}

.apartment__name {
  position: absolute;
  top: 245px;
  left: 22px;
}

.apartment__number {
  padding: 5px;
  background-color: #000000;
  font-size: 8.5px;
  line-height: 2.41;
  letter-spacing: 0.34px;
  color: #ffffff;
}

.apartment__review {
  font-family: 'Roboto', sans-serif;
  font-size: 8.5px;
  line-height: 2.41;
  letter-spacing: 1.19px;
  color: #ffffff;
}

.apartment__title {
  margin-bottom: 7px;
  font-size: 30px;
  max-width: 875px;
  margin: 0 auto 9px;
}

.apartment__title-small {
  margin-bottom: 24px;
  font-size: 19px;
  line-height: 0.84;
  letter-spacing: 0.76px;
}

.apartment__subtitle {
  margin: 0 auto 21px;
  max-width: 875px;
  letter-spacing: 1.25px;
}

.apartment__image {
  margin-bottom: 37px;
  width: 579px;
  height: 281px;
}

.apartment__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 23px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.apartment__wrap::after {
  display: block;
  position: absolute;
  top: 80px;
  left: 0;
  content: '';
  width: 579px;
  height: 2px;
  background-color: #f9f9f9;
}

.apartment__part {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100px;
}

.apartment__icon {
  margin: 0 auto;
  margin-bottom: 9px;
  width: 29px;
  height: 29px;
}

.apartment__item, .apartment__grid-caption {
  font-family: 'Roboto', sans-serif;
  font-size: 10.5px;
  line-height: 1.95;
  letter-spacing: 0.63px;
  text-align: left;
  color: #878787;
  text-align: center;
}

.apartment__text {
  position: relative;
  margin-bottom: 76px;
  max-width: 576px;
  letter-spacing: 0.69px;
  line-height: 2;
}

.apartment__text::after {
  display: block;
  position: absolute;
  top: 190px;
  left: 0;
  content: '';
  width: 579px;
  height: 2px;
  background-color: #f9f9f9;
}

.apartment__grid {
  display: grid;
  grid-template-columns: 140px 140px 140px;
  grid-column-gap: 52px;
  grid-row-gap: 10px;
}

.apartment__grid-icon {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.reservation {
  padding: 23px;
  max-width: 231px;
  width: 100%;
  min-height: 234px;
  height: 100%;
  background-color: #1c1c1c;
}

.reservation__guest {
  margin-bottom: 14px;
  padding: 17px 80px;
  background-color: #151515;
  font-family: 'Gilda Display', serif;
  font-size: 15px;
  line-height: 1.37;
  letter-spacing: -0.2px;
  color: #ffffff;
  text-align: center;
}

.reservation__part {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.reservation__date {
  display: flex;
  flex-direction: column;
  padding: 8px 0 16px;
  max-width: 109px;
  width: 100%;
  background-color: #151515;
  text-align: center;
}

.reservation__word {
  margin-bottom: 14px;
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  line-height: 2.28;
  letter-spacing: 1.6px;
  color: #c19b76;
}

.reservation__number {
  margin-bottom: 20px;
  font-family: 'Gilda Display', serif;
  font-size: 37.5px;
  line-height: 0.55;
  letter-spacing: -2.25px;
  color: #c19b76;
}

.reservation__month {
  margin-bottom: 6px;
  font-family: 'Gilda Display', serif;
  font-style: italic;
  font-size: 9px;
  letter-spacing: -0.54px;
  color: #ffffff;
}

.reservation__weekday {
  font-family: 'Roboto', sans-serif;
  font-size: 8.5px;
  letter-spacing: 0.68px;
  color: #a3a3a3;
}

.reservation__button {
  padding: 3px 0;
  width: 100%;
  background-color: #c19b76;
  border: solid 1.5px #c19b76;
}

.reservation__button:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  background-color: #bf6652;
  border: solid 1.5px #bf6652;
  transition: all 0.5s ease-in;
}

@media (min-width: 1680px) {
  .room__navigation {
    max-width: 577px;
  }
}

@media screen and (min-width: 1260px) and (max-width: 1439px) {
  .apartment__description {
    max-width: 500px;
  }

  .apartment__image {
    width: 500px;
  }

  .apartment__text {
    max-width: 490px;
  }

  .apartment__wrap::after {
    width: 500px;
  }

  .apartment__text {
    font-size: 10px;
  }

  .apartment__text::after {
    width: 500px;
  }

  .reservation {
    max-width: 260px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1259px) {
  .room {
    padding-top: 156px;
    padding-bottom: 11px;
    padding-left: 202px;
    padding-right: 244px;
  }

  .room__navigation {
    width: 72.5%;
  }

  .room__value {
    padding-right: 0;
  }

  .room__price {
    font-size: 27px;
    line-height: 0.7;
  }

  .room__price-small {
    font-size: 9px;
    line-height: 2.5;
    letter-spacing: 0.87px;
  }

  .apartment__title {
    max-width: 625px;
    font-size: 21.5px;
    line-height: 0.53;
  }

  .apartment {
    padding-top: 24px;
    padding-bottom: 57px;
  }

  .apartment__subtitle {
    margin-bottom: 11px;
    max-width: 625px;
    letter-spacing: 0.22px;
  }

  .apartment__container {
    width: 60.8%;
  }

  .apartment__description {
    max-width: 411px;
  }

  .apartment__image {
    margin-bottom: 22px;
    width: 411px;
    height: 200px;
  }

  .apartment__name {
    top: 171px;
    left: 15px;
  }

  .apartment__number {
    padding: 2px 4px;
    font-size: 8px;
    line-height: 1.81;
    letter-spacing: 0.32px;
  }

  .apartment__review {
    font-size: 9px;
    line-height: 1.61;
    letter-spacing: 2px;
  }

  .apartment__wrap {
    margin-bottom: 35px;
    padding: 0;
  }

  .apartment__wrap::after {
    top: 60px;
    width: 411px;
  }

  .apartment__icon {
    margin-bottom: 5px;
    width: 21px;
    height: 21px;
  }
  .apartment__item {
    font-size: 9px;
    line-height: 1.61;
    letter-spacing: 0.54px;
  }

  .apartment__text {
    margin-bottom: 15px;
    max-width: 400px;
    letter-spacing: 0.58px;
    text-align: left;
  }

  .apartment__text::after {
    display: none;
  }

  .apartment__title-small {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 0.82;
    letter-spacing: 0.56px;
  }

  .apartment__grid {
    grid-template-columns: 110px 110px 110px;
    grid-column-gap: 27.5px;
    grid-row-gap: 8px;
  }

  .apartment__grid-icon {
    margin-right: 4px;
    width: 14px;
    height: 12px;
  }

  .apartment__grid-caption {
    font-size: 9px;
    line-height: 1.61;
    letter-spacing: 0.54px;
  }

  .reservation {
    padding: 16px 16px 15px;
    max-width: 167px;
    min-height: 168px;
  } 

  .reservation__guest {
    margin-bottom: 14px;
    padding: 11px 40px;
    font-size: 11px;
    line-height: 1.32;
    letter-spacing: -0.44px;
  }

  .reservation__part {
    margin-bottom: 10px;
  }

  .reservation__date {
    padding: 4px 0 7px;
    width: 45%;
  }

  .reservation__word {
    margin-bottom: 9px;
    font-size: 8px;
    line-height: 1.81;
    letter-spacing: 0.64px;
  }

  .reservation__number {
    margin-bottom: 6px;
    font-size: 27px;
    line-height: 0.54;
    letter-spacing: 1.2px;
  }

  .reservation__month {
    margin-bottom: 0;
    font-size: 8px;
    line-height: 1.81;
    letter-spacing: -0.48px;
  }

  .reservation__weekday {
    font-size: 8px;
    line-height: 1.81;
    letter-spacing: 0.64px;
  } 

  .reservation__button {
    padding: 3px 0;
  }
}

@media screen and (max-width: 1023px) {
  .room {
    padding: 0;
    height: 239px;
  }

  .room__menu {
    display: none;
  }

  .apartment {
    position: relative;
    padding-bottom: 33px;
  }

  .apartment__title-top {
    position: absolute;
    top: -117px;
    left: 50%;
    margin-left: -190px;
    max-width: 500px;
    font-size: 48px;
    line-height: 0.63;
    letter-spacing: -0.4px;
    color: #ffffff;
    text-transform: uppercase;
  } 

  .apartment__subtitle {
    display: none;
  }

  .apartment__container {
    flex-direction: column-reverse;
    max-width: 526px;
    width: 100%;
  }

  .apartment__description {
    max-width: 559px;
  }

  .apartment__image {
    margin-bottom: 24px;
    width: 523px;
    height: 227px;
  }

  .apartment__name {
    top: 201px;
    left: 21px;
  }

  .apartment__wrap {
    justify-content: start;
    margin-bottom: 34px;
    padding: 0 0 0 15px;
  }

  .apartment__wrap::after {
    display: none;
  }

  .apartment__part-right {
    margin-right: 35px;
  }

  .apartment__part-big {
    margin-right: 10px;
    width: 147px;
  }

  .apartment__icon {
    margin-bottom: 13px;
    width: 42px;
    height: 41px;
  }

  .apartment__item {
    font-size: 16px;
    line-height: 0.91;
    letter-spacing: 0.96px;
  }

  .apartment .text {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 1.14px;
    text-align: left;
  }

  .apartment__text {
    margin-bottom: 39px;
  }

  .apartment__title-small {
    margin-bottom: 33px;
    font-size: 22px;
    line-height: 0.52;
    letter-spacing: 0.88px;
  }

  .apartment__grid {
    grid-template-columns: 155px 155px 155px;
    grid-column-gap: 23px;
  }

  .apartment__grid-icon {
    margin-right: 7px;
    width: 24px;
    height: 25px;
  }

  .apartment__grid-caption {
    font-size: 16px;
    line-height: 0.91;
    letter-spacing: 0.96px;
  }

  .reservation {
    margin-bottom: 68px;
    padding: 28px 32px 34px 29px;
    max-width: 462px;
    width: 100%;
  }

  .reservation__guest {
    margin-bottom: 22px;
    padding: 24px 30px;
    font-size: 16px;
    line-height: 0.56;
    letter-spacing: 1.3px;
  }

  .reservation__part {
    margin: 0 79px 22px 73px;
  }

  .reservation__date {
    padding: 22px 0 21px;
    max-width: 126px;
  }

  .reservation__word {
    margin-bottom: 19px;
    font-size: 14px;
    line-height: 0.64;
    letter-spacing: 1.12px;
  }

  .reservation__month {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 0.64;
    letter-spacing: -0.84px;
  }

  .reservation__weekday {
    font-size: 14px;
    font-weight: 300;
    line-height: 0.64;
    letter-spacing: 0.2px;
  }

  .reservation .button {
    font-size: 22px;
    line-height: 0.3;
    letter-spacing: 1.5px;
  }

  .reservation__button {
    padding: 22px 30px;
    max-width: 460px;
  }
}