.button {
  background: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  letter-spacing: 1.35px;
  color: #ffffff;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.title {
  font-family: 'Gilda Display', serif;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-size: 10.5px;
  line-height: 1.95;
  letter-spacing: 0.71px;
  color: #878787;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  padding: 11px 0;
  background-color: #1c1c1c;
}

.header__container {
  margin: 0 auto;
  width: 874px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin-top: 2px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 445px;
  font-family: 'Roboto', sans-serif;
  font-size: 10.5px;
  line-height: 1.95;
  letter-spacing: 0.35px;
}

.navigition__link {
  display: inline-block;
  text-decoration: none;
  color: #878787;
}

.navigition__link:hover {
  color: #ffffff;
}

.navigition__link::after {
  display: block;
  margin: auto;
  content: '';
  width: 0%;
  height: 1px;
  background-color: #878787;
  transition: width 0.5s ease-in-out;
}

.navigition__link:hover::after {
  width: 100%;
}

.rooms__wrap {
  position: relative;
  height: 184px;
}

.rooms__wrap::after {
  content:'';
  background-image: linear-gradient(to top, #1c1c1c, rgba(28, 28, 28, 0.5));
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.rooms__caption {
  position: absolute;
  left: 23px;
  bottom: 10px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 8.5px;
  line-height: 2.41;
  letter-spacing: 1.3px;
  color: #ffffff;
}

.rooms__icon {
  width: 17px;
  height: 17px;
}

.rooms__title-small {
  margin-bottom: 12px;
  font-size: 22.5px;
  line-height: 0.71;
  letter-spacing: 0.9px;
  color: #1c1c1c;
}

.rooms__element {
  margin-right: 13px;
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  line-height: 2.28;
  letter-spacing: 0.7px;
  color: #878787;
  text-transform: uppercase;
}

.rooms__item {
  margin-right: 3px;
  padding: 5px;
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 8.5px;
  line-height: 2.41;
  letter-spacing: -0.17px;
  text-align: left;
  color: #ffffff;
}

.footer {
  padding: 25px 0 0 282px;
  height: 41px;
  background-color: #151515;
}

.footer__navigation {
  display: flex;
  justify-content: space-between;
  width: 333px;
  font-family: 'Roboto', sans-serif;
  font-size: 9.5px;
  line-height: 2.16;
  letter-spacing: 1.3px;
}

.footer__link {
  text-decoration: none;
  color: #ffffff;
}

.footer__link:hover {
  color: #878787;
}

.footer__link::after {
  display: block;
  margin: auto;
  content: '';
  width: 0%;
  height: 1px;
  background-color: #878787;
  transition: width 0.5s ease-in-out;
}

.footer__link:hover::after {
  width: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .header {
    padding: 8px 0;
  }

  .header__container {
    box-sizing: border-box;
    padding-left: 180px;
    width: 985px;
  }

  .header__logo {
    width: 122px;
    height: 15px;
  }

  .navigation {
    width: 438px;
    font-size: 11px;
    line-height: 1.32;
    letter-spacing: 0.4px;
  }

  .button {
    font-size: 9px;
    font-weight: 900;
    line-height: 1.61;
    letter-spacing: 0.9px;
  }

  .text {
    font-size: 9px;
    line-height: 1.78;
    letter-spacing: 0.3px;
  }

  .rooms__item {
    padding: 2px 4px;
  }

  .rooms__element {
    margin-right: 11px;
    font-size: 7px;
    line-height: 2.07;
  }

  .rooms__icon {
    width: 12px;
    height: 12px;
  }

  .rooms__text {
    margin-bottom: 12px;
  }

  .rooms__caption {
    left: 18px;
    bottom: 8px;
    font-size: 9px;
    line-height: 1.61;
    letter-spacing: 1.4px;
  }

  .footer {
    padding: 17px 0 0 200px;
    height: 32px;
  }

  .footer__navigation {
    width: 349px;
    font-size: 11px;
    line-height: 1.32;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 6px 0 0;
  }

  .header__container {
    padding-left: 46px;
    width: 100%;
  }

  .rooms__caption {
    left: 23px;
    bottom: 17px;
    font-size: 18px;
    line-height: 1.14;
    letter-spacing: 3.2px;
  }

  .footer {
    padding: 17px 0 0 45px;
    height: 27px;
  }

  .footer__navigation {
    width: 408px;
    font-size: 16px;
    line-height: 0.56;
    letter-spacing: 1.4px;
  }

  .navigation {
    flex-direction: column;
    justify-content: start;
    padding-top: 32px;
    padding-right: 103px;
    padding-bottom: 46px;
    right: 0;
    top: 0;
    width: 100%;
    font-size: 14px;
    line-height: 2.75;
    letter-spacing: 0.84px;
    text-align: right;
    margin-top: -345px;
    transition: all 1.5s ease;
  }

  .navigation__mobil {
    display: block;
    position: absolute;
    z-index: 6;
    width: 23px;
    height: 2px;
    background-color: #fff;
    right: 58px;
    top: 19px;
    cursor: pointer;
  }

  .navigation__mobil:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 2px;
    background-color: #fff;
    margin-top: -6px;
  }

  .navigation__mobil:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 2px;
    background-color: #fff;
    margin-top: 6px;
  }

  .navigation__mobil-active {
    height: 0;
  }

  .navigation__mobil-active:before {
    transform: rotate(45deg);
    margin-top: 0;
  }

  .navigation__mobil-active:after {
    transform: rotate(-45deg);
    margin-top: 0;
  }

  .navigation-active {
    margin-top: 0;
  }

  .navigition__link {
    color: #ffffff;
    text-transform: uppercase;
  }

  .navigition__link:hover {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
    transition: text-shadow 0.5s ease-in;
  }

  .navigition__link::after {
    margin-right: 0;
    width: 195px;
    height: 3px;
    background-color: #c19b76;
  }
}